/* Initial body */
body {
  left: 0;
  margin: 0;
  position:relative;
  overflow: auto;
}

/* Initial menu */
.menu {
	background-image:url('lego3.jpg');
	position:fixed;
	top:0px;
	left: -285px;  /* start off behind the scenes */
	height: 100%;
	width: 285px;
	
}

/* Basic styling */

.jumbotron {
	background-image: url('lego.jpg'); 
	height:100%;
	background-size: cover;

}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: Impact, sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: Impact;
  font-size: 24px;
  background-color: rgba(0,0,0,0.5);
  
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu i {
  margin-right: 5px;
}

.notes{
	margin-left:10%;
	margin-top:2%;
	width:80%;
	background-color: rgba(255,255,255,0.5);
	height: 100%;
	overflow: auto;
	

}

.words{
	margin-left:5%;
	margin-top:5%;
	font-family: Impact;
	
	
}

.heading{
	margin-top: 20px;
	margin-left:20px;
	font-size: 30px;
	font-family: Impact;
	
}
.video{
	overflow:scroll;
	position:relative;
	margin-left:5%;
	margin-top:10px;
	background-color: rgba(0,0,0,0.5);
	
}

.facebook{
	
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 50px;
	width: 120px;
	font-family:Impact;
	margin-left: 5%;
	text-align: center;
	
}

a
{
	text-decoration: none;
	color: #3D59AB;
	font-family: Impact, Arial;
	
}


td
{
	border: 1px #fff dashed;
	height: auto; 
	width: 	auto;
	
}

img
{
	padding-left:5%;
	height: 200px;
	width: auto;
	
	
}
